<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .stream__item-zan {
            float: left;
            margin: 15px 15px 15px 10px;
            width: 40px;
            height: 46px;

        }
        .stream-list__item .summary {
            overflow: auto;
            overflow-x: hidden;
        }
    </style>
</head>
<body data-mod="blog" class="blog-index "><img id="icon4weChat" style="height: 0;width: 0;"
                       data-src="https://static.segmentfault.com/v-5a2130de/global/img/touch-icon-512.png">
<div id="mm_124884735_33830642_146292853" class="hidden-xs"></div>
<i class="fa fa-times-circle close-banner-1111" aria-hidden="true"
   style="position: absolute; right: 15px; top: 15px; font-size: 18px; cursor: pointer; color: rgba(255,255,255,0.25);"></i>
<script src="//hm.baidu.com/hm.js?e23800c454aa573c0ccb16b52665ac26"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <a href="/" target="_blank">
            <img src="Images/logo.png" alt="一起帮Logo" data-toggle="tooltip" title="一起帮首页" class="pull-left" />
        </a>
        <p class="navbar-text pull-left">
            <span style="font-size:18px; font-weight:600;">一 起 帮</span>
            <span class="visible-md-inline visible-lg-inline"> · "一对一"远程互助平台</span>
        </p>
        <a href="/Message/Mine" target="_blank" class="navbar-text pull-left" style="font-size:18px; margin-left:10px;">
            <span class="glyphicon glyphicon-bell descend-4px pull-left hide" zyf-bell></span>
        </a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Problem/New" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> 我要求助</a> </li>
                <li><a href="/?excludeCanceled=true&excludeRewarded=true" target="_blank"><span class="glyphicon glyphicon-heart"></span> 我来帮忙</a></li>
                <li><a href="/Article" target="_blank"><span class="glyphicon glyphicon-list-alt"></span> 精品文章</a> </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-dashboard"></span> 后台<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header"><span class="glyphicon glyphicon-eye-open"></span> 我的</li>
                        <li><a href="/User/Single" target="_blank"><span class="glyphicon glyphicon-home"></span> 主页</a></li>
                        <li><a href="/Invite" target="_blank"><span class="glyphicon glyphicon-random descend-2px"></span> 邀请</a> </li>
                        <li><a href="/Message/Mine" target="_blank"><span class="glyphicon glyphicon-bell descend-2px"></span> 消息</a> </li>
                        <li><a href="/Draft" target="_blank"><span class="glyphicon glyphicon-list-alt"></span> 草稿</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">广告推广</li>
                        <li><a href="/AdInContact/Write?prepage=%2f"><span class="glyphicon glyphicon-link descend-2px"></span> 联系方式</a></li>
                        <li><a href="/AdInWidget/Write?prepage=%2f"><span class="glyphicon glyphicon-link descend-2px"></span> 侧边栏</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">时间币</li>
                        <li><a href="/Credit/Buy?prepage=%2f"><span class="glyphicon glyphicon-import descend-2px"></span> 购买</a></li>
                        <li><a href="/Credit/Recycle?prepage=%2f"><span class="glyphicon glyphicon-export descend-2px"></span> 兑换</a></li>
                        <li class="divider"></li>
                        <li><a href="/Contact/Edit?prepage=%2f"><span class="glyphicon glyphicon-phone-alt descend-2px"></span> 联系方式</a></li>
                        <li><a href="/Profile/Write?prepage=%2f"><span class="glyphicon glyphicon-camera descend-2px"></span> 个人资料</a></li>
                        <li><a href="/Password/Change?prepage=%2f"><span class="glyphicon glyphicon-lock descend-2px"></span> 修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="/Newbie/Exam" target="_blank"><span class="glyphicon glyphicon-education"></span> 新人测试</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="wrap" style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 main">
                <div class="main__board"><!-- Nav tabs -->
                    <ul class="nav nav-tabs mt30 mb10">
                        <li role="presentation" class="active"><a href="/blogs">推荐文章</a></li>
                        <li role="presentation"><a href="/blogs/newest">最新文章</a></li>
                        <li role="presentation"><a href="/blogs/hottest">热门文章</a></li>
                    </ul><!-- Tab panes -->
                    <div class="stream-list blog-stream">
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012246666" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">0</span></div>
                            </div>
                            <div class="summary">
                                <h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012246666">用Electron-nightmare快速实现微信天气助手Syaya</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/rockee"><img class="avatar-24 mr10 hidden-xs"
                                                                 src="https://sfault-avatar.b0.upaiyun.com/135/727/1357271717-578302f700a69_small"
                                                                 alt="rockee阿木"></a><span
                                            style="vertical-align:middle;"><a href="/u/rockee">rockee阿木</a>
                    14 小时前
                    发布于
                                            <a href="/u/rockee/articles/">self.文章</a></span></li>
                                    <li class="bookmark " title="2 收藏" data-type="article" data-id="1190000012246666">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">2 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">项目背景 庞大的用户安装量和恐怖的用户使用时间，微信已成为国内移动互联网上基础设施级的应用。
                                    以微信为平台的客服服务有很多方式，比如订阅号，服务号，小程序，但受到微信官方的限制，如果想做一个聊天群的...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012245512" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">0</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012245512">Spring Cloud Consul 服务治理实现</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/souyunku"><img class="avatar-24 mr10 hidden-xs"
                                                                   src="https://sfault-avatar.b0.upaiyun.com/335/725/3357254983-597c6aad515aa_small"
                                                                   alt="PengLei"></a><span
                                            style="vertical-align:middle;"><a href="/u/souyunku">PengLei</a>
                    15 小时前
                    发布于
                                            <a href="/blog/souyunku">PengLei `Blog</a></span></li>
                                    <li class="bookmark " title="3 收藏" data-type="article" data-id="1190000012245512">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">3 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">Spring Cloud Consul
                                    项目是针对Consul的服务治理实现。Consul是一个分布式高可用的系统，具有分布式、高可用、高扩展性。 Consul 简介 Consul 是 HashiCorp
                                    公司推出的开源工具，用于实现分布式系统的服务发现与...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012242526" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">2</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012242526">SegmentFault 技术周刊 Vol.38 - 神奇的 CSS</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/keke233"><img class="avatar-24 mr10 hidden-xs"
                                                                  src="https://sfault-avatar.b0.upaiyun.com/225/094/2250941087-5901b139074b5_small"
                                                                  alt="keke"></a><span style="vertical-align:middle;"><a
                                            href="/u/keke233">keke</a>
                    17 小时前
                    发布于
                                            <a href="/blog/weekly">SegmentFault 社区周刊</a></span></li>
                                    <li class="bookmark " title="31 收藏" data-type="article" data-id="1190000012242526">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">31 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">CSS 的全称是 Cascading Style Sheets，即层叠样式表，
                                    是一种样式表语言，用来描述 HTML 或 XML（包括如 SVG、XHTML 之类的 XML 分支语言）元素所呈现的样式。 “层叠”即表示允许以多种方式来描述样式，一个
                                    HTML...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012237477"
                                     class="stream__item-zan stream__item-zan--active active  btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">10</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012237477">再也不学AJAX了！（二）使用AJAX</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/libinfs"><img class="avatar-24 mr10 hidden-xs"
                                                                  src="https://sfault-avatar.b0.upaiyun.com/797/082/797082481-57490d514cda4_small"
                                                                  alt="岚中浮客"></a><span style="vertical-align:middle;"><a
                                            href="/u/libinfs">岚中浮客</a>
                    21 小时前
                    发布于
                                            <a href="/blog/libin">曲水流觞</a></span></li>
                                    <li class="bookmark active" title="49 收藏" data-type="article"
                                        data-id="1190000012237477"><span style="vertical-align:middle;"><small
                                            class="glyphicon glyphicon-bookmark mr5"></small><span
                                            class="blog--bookmark__text">49 已收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">
                                    在上一篇文章中我们知道，AJAX是一系列技术的统称。在本篇中我们将更进一步，详细解释如何使用Ajax技术在项目中获取数据。而为了解释清楚，我们首先要搞清楚我们是从哪里获取数据的，其次我们关注的才是获取数据...</p>
                            </div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012234031" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">10</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012234031">从0到1优雅的实现PHP多进程管理</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/tigerb"><img class="avatar-24 mr10 hidden-xs"
                                                                 src="https://sfault-avatar.b0.upaiyun.com/262/312/2623124159-59fd8c6c56254_small"
                                                                 alt="TIGERB"></a><span
                                            style="vertical-align:middle;"><a href="/u/tigerb">TIGERB</a>
                    1 天前
                    发布于
                                            <a href="/blog/web_base">web基础杂谈</a></span></li>
                                    <li class="bookmark " title="15 收藏" data-type="article" data-id="1190000012234031">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">15 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">{代码...} 业务场景
                                    在我们实际的业务场景中(PHP技术栈)，我们可能需要定时或者近乎实时的执行一些业务逻辑，简单的我们可以使用unix系统自带的crontab实现定时任务，但是对于一些实时性要求比较高的业务就不适用...</p>
                            </div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012230659" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">4</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012230659">vitual-dom原理与简单实现</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/yunzhongge_584ccbede2cb7"><img class="avatar-24 mr10 hidden-xs"
                                                                                   src="https://sfault-avatar.b0.upaiyun.com/401/796/4017961142-58899ab996d02_small"
                                                                                   alt="云中歌"></a><span
                                            style="vertical-align:middle;"><a href="/u/yunzhongge_584ccbede2cb7">云中歌</a>
                    1 天前
                    发布于
                                            <a href="/u/yunzhongge_584ccbede2cb7/articles/">self.文章</a></span></li>
                                    <li class="bookmark " title="18 收藏" data-type="article" data-id="1190000012230659">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">18 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">前言 目前广为人知的React和Vue都采用了virtual-dom，Virtual
                                    DOM凭借其高效的diff算法，让我们不再关心性能问题，可以随心所欲的修改数据状态。在实际开发中，我们并不需要关心Virtual
                                    DOM是如何实现的，但是理...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012213278" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">35</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012213278">手摸手，带你优雅的使用 icon</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/panjiachen"><img class="avatar-24 mr10 hidden-xs"
                                                                     src="https://sfault-avatar.b0.upaiyun.com/285/486/285486960-59226f974c266_small"
                                                                     alt="花裤衩"></a><span style="vertical-align:middle;"><a
                                            href="/u/panjiachen">花裤衩</a>
                    2 天前
                    发布于
                                            <a href="/u/panjiachen/articles/">self.文章</a></span></li>
                                    <li class="bookmark " title="240 收藏" data-type="article" data-id="1190000012213278">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">240 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">前言
                                    本篇文章其实陆陆续续写了快半年，主体部分写好了很久了，但由于种种原因一直没有发布。首先来说说写这篇文章的主要初衷是：在做前端后台项目的时候经常会用到很多 icon
                                    图标，刚开始还好，但随着项目的不断...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012212663" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">10</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012212663">Redis 数据类型及应用场景</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/waterandair"><img class="avatar-24 mr10 hidden-xs"
                                                                      src="https://sfault-avatar.b0.upaiyun.com/129/835/1298351342-59433fe968df2_small"
                                                                      alt="waterandair"></a><span
                                            style="vertical-align:middle;"><a href="/u/waterandair">waterandair</a>
                    2 天前
                    发布于
                                            <a href="/blog/waterandair">落棋不悔</a></span></li>
                                    <li class="bookmark " title="74 收藏" data-type="article" data-id="1190000012212663">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">74 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">一、 redis 特点 所有数据存储在内存中，高速读写 提供丰富多样的数据类型：string、
                                    hash、 set、 sorted set、bitmap、hyperloglog 提供了 AOF 和 RDB 两种数据的持久化保存方式，保证了 Redis
                                    重启后数据不丢...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012209750" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">8</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012209750">我为什么从Redux迁移到了Mobx</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/_5952148380d23"><img class="avatar-24 mr10 hidden-xs"
                                                                         src="https://static.segmentfault.com/v-5a2130de/global/img/user-32.png"
                                                                         alt="まきちゃん"></a><span
                                            style="vertical-align:middle;"><a href="/u/_5952148380d23">まきちゃん</a>
                    2 天前
                    发布于
                                            <a href="/blog/youzan_fe">有赞前端团队</a></span></li>
                                    <li class="bookmark " title="33 收藏" data-type="article" data-id="1190000012209750">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">33 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">
                                    Redux是一个数据管理层，被广泛用于管理复杂应用的数据。但是实际使用中，Redux的表现差强人意，可以说是不好用。而同时，社区也出现了一些数据管理的方案，Mobx就是其中之一。
                                    Redux的问题 Predictable state co...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012209493" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">3</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012209493">underscore 系列之内部函数 cb 和 optimizeCb</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/yayu"><img class="avatar-24 mr10 hidden-xs"
                                                               src="https://sfault-avatar.b0.upaiyun.com/886/682/886682482-57dfb59658245_small"
                                                               alt="冴羽"></a><span style="vertical-align:middle;"><a
                                            href="/u/yayu">冴羽</a>
                    2 天前
                    发布于
                                            <a href="/blog/yayu-blog">冴羽的JavaScript博客</a></span></li>
                                    <li class="bookmark " title="4 收藏" data-type="article" data-id="1190000012209493">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">4 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">前言 仅看 cb 和 optimizeCb
                                    两个函数的名字，你可能想不到这是用来做什么的，尽管你可能想到 cb 是 callback 的缩写。 如果直接讲解源码，你可能想不明白为什么要这么写，所以我们从
                                    _.map 函数开始讲起。 _.map...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012207211" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">2</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012207211">vue-loader 源码解析系列之 整体分析</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/nichoaslee119"><img class="avatar-24 mr10 hidden-xs"
                                                                        src="https://sfault-avatar.b0.upaiyun.com/272/992/2729925714-59f6990123d26_small"
                                                                        alt="再见尼克"></a><span
                                            style="vertical-align:middle;"><a href="/u/nichoaslee119">再见尼克</a>
                    2 天前
                    发布于
                                            <a href="/u/nichoaslee119/articles/">self.文章</a></span></li>
                                    <li class="bookmark " title="6 收藏" data-type="article" data-id="1190000012207211">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">6 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">笔者系 vue-loader 贡献者（#16）之一 官方说明 vue-loader is a
                                    loader for Webpack that can transform Vue components written in the following format
                                    into a plain JavaScript module 简单来说就是：将 .vu...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012188139" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">4</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012188139">基于 Python 的 Scrapy 爬虫入门：页面提取</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/megabug"><img class="avatar-24 mr10 hidden-xs"
                                                                  src="https://sfault-avatar.b0.upaiyun.com/390/679/3906796496-5a015603bc07b_small"
                                                                  alt="大虫"></a><span style="vertical-align:middle;"><a
                                            href="/u/megabug">大虫</a>
                    3 天前
                    发布于
                                            <a href="/blog/megabug">大虫</a></span></li>
                                    <li class="bookmark " title="46 收藏" data-type="article" data-id="1190000012188139">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">46 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">目录 基于 Python 的 Scrapy 爬虫入门：环境搭建 基于 Python 的
                                    Scrapy 爬虫入门：页面提取 基于 Python 的 Scrapy 爬虫入门：图片处理 下面创建一个爬虫项目，以图虫网为例抓取图片。 一、内容分析 打开
                                    图虫网...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012184535" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">39</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-3"><a
                                    href="/a/1190000012184535">[译] 5个Vuex插件，给你的下个VueJS项目</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/slaneyang"><img class="avatar-24 mr10 hidden-xs"
                                                                    src="https://sfault-avatar.b0.upaiyun.com/314/721/3147219312-59dccfb40fd35_small"
                                                                    alt="SlaneYang"></a><span
                                            style="vertical-align:middle;"><a href="/u/slaneyang">SlaneYang</a>
                    4 天前
                    发布于
                                            <a href="/blog/slane">前端进阶者</a></span></li>
                                    <li class="bookmark " title="262 收藏" data-type="article" data-id="1190000012184535">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">262 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">原文：5 Vuex Plugins For Your Next VueJS Project
                                    作者：Anthony Gore 使用 Vuex 来管理 Vue 的状态，有很多好的理由。其中之一就是，通过 Vuex 插件可以非常容易的扩展一些很酷的功能。Vuex
                                    社区中的开发人员...</p></div>
                        </section>
                        <section class="stream-list__item">
                            <div class="blog-rank stream__item">
                                <div data-id="1190000012184604" class="stream__item-zan   btn btn-default mt0"><span
                                        class="stream__item-zan-icon"></span><span
                                        class="stream__item-zan-number">6</span></div>
                            </div>
                            <div class="summary"><h2 class="title blog-type-common blog-type-1"><a
                                    href="/a/1190000012184604">vue中慎用style的scoped属性</a></h2>
                                <ul class="author list-inline">
                                    <li><a href="/u/j2ue"><img class="avatar-24 mr10 hidden-xs"
                                                               src="https://sfault-avatar.b0.upaiyun.com/371/373/3713730051-584116ef272ee_small"
                                                               alt="j2ue"></a><span style="vertical-align:middle;"><a
                                            href="/u/j2ue">j2ue</a>
                    4 天前
                    发布于
                                            <a href="/blog/j2ue">前端开发之路</a></span></li>
                                    <li class="bookmark " title="35 收藏" data-type="article" data-id="1190000012184604">
                                        <span style="vertical-align:middle;"><small
                                                class="glyphicon glyphicon-bookmark mr5"></small><span
                                                class="blog--bookmark__text">35 收藏</span></span></li>
                                </ul>
                                <p class="excerpt wordbreak hidden-xs">本文发布在我的博客vue中慎用style的scoped属性许可协议:
                                    署名-非商业性使用-禁止演绎4.0国际 转载请保留原文链接及作者。
                                    在vue组件中，在style标签上添加scoped属性，以表示它的样式作用于当下的模块，很好的实...</p></div>
                        </section>

                    </div>
                    <div class="text-center">
                        <ul class="pagination">
                            <li class="active"><a href="javascript:void(0);">1</a></li>
                            <li><a href="/blogs?page=2">2</a></li>
                            <li><a href="/blogs?page=3">3</a></li>
                            <li><a href="/blogs?page=4">4</a></li>
                            <li><a href="/blogs?page=5">5</a></li>
                            <li class="disabled"><span>…</span></li>
                            <li class="next"><a rel="next" href="/blogs?page=2">下一页</a></li>
                        </ul>
                    </div>
                </div><!-- /.main__board --></div><!-- /.main -->
            <div class="col-xs-12 col-md-3 side mt30">


                <div data-api="/api/blog/hotBlogs">
                    <script type="text/template">
                        <div
                        class="widget-box"><h2 class="h4 widget-box__title">热门专栏</h2>
                        <ul class="list-unstyled list-unstyled "><% _.each(data,function(d,key){ %>
                            <li class="widget-user media">
                                <div class="img-circle media-order avatar-32 pull-left order-circle"><span
                                        class="order-number"><%- key + 1 %></span></div>
                                <div class="media-object <% if (_.isEmpty(d.excerpt) ) { %>media-object-empty<% } %>">
                                    <strong><a href="<%- d.url %>" title="<%= d.name %>"><%= d.name %></a></strong>
                                    <p class="text-muted media-object"><%- d.excerpt %></p></div>
                            </li>
                            <% }) %>
                        </ul></div></script>
                    <div class="widget-box"><h2 class="h4 widget-box__title">热门专栏</h2>
                        <ul class="list-unstyled list-unstyled ">
                            <li class="widget-user media">
                                <div class="img-circle media-order avatar-32 pull-left order-circle"><span
                                        class="order-number">1</span></div>
                                <div class="media-object media-object-empty"><strong><a href="/u/zhangqh/articles"
                                                                                        title="zhangqh的个人文章">zhangqh的个人文章</a></strong>
                                    <p class="text-muted media-object"></p></div>
                            </li>
                            <li class="widget-user media">
                                <div class="img-circle media-order avatar-32 pull-left order-circle"><span
                                        class="order-number">2</span></div>
                                <div class="media-object "><strong><a href="/blog/slane"
                                                                      title="前端进阶者">前端进阶者</a></strong>
                                    <p class="text-muted media-object">一个前端工程师的进阶之路</p></div>
                            </li>
                            <li class="widget-user media">
                                <div class="img-circle media-order avatar-32 pull-left order-circle"><span
                                        class="order-number">3</span></div>
                                <div class="media-object "><strong><a href="/u/panjiachen/articles" title="花裤衩的个人文章">花裤衩的个人文章</a></strong>
                                    <p class="text-muted media-object">show me the code</p></div>
                            </li>
                            <li class="widget-user media">
                                <div class="img-circle media-order avatar-32 pull-left order-circle"><span
                                        class="order-number">4</span></div>
                                <div class="media-object "><strong><a href="/blog/fecx"
                                                                      title="前端持续学习">前端持续学习</a></strong>
                                    <p class="text-muted media-object">成功唯有积累没有奇迹</p></div>
                            </li>
                            <li class="widget-user media">
                                <div class="img-circle media-order avatar-32 pull-left order-circle"><span
                                        class="order-number">5</span></div>
                                <div class="media-object "><strong><a href="/blog/wxyyxc1992"
                                                                      title="某熊的全栈之路">某熊的全栈之路</a></strong>
                                    <p class="text-muted media-object">知识，应该在它该在的地方。一个热爱代码，热爱新技术的程序熊。</p></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-api="/api/tag/hotArticleTags">
                    <script type="text/template">
                        <div
                        class="widget-box"><h2 class="h4 widget-box__title">热门标签</h2>
                        <ul class="taglist--block"><% _.each(data,function(d){ %>
                            <li class="mb10 tagPopup"><a href="<%- d.url %>/blogs" data-id="<%- d.id %>" class="tag"
                                                         data-original-title="<%= d.name %>"><%= d.name %></a><span
                                    class="text-muted">&nbsp&times; <%- d.articles %></span></li>
                            <% }) %>
                        </ul></div></script>
                    <div class="widget-box"><h2 class="h4 widget-box__title">热门标签</h2>
                        <ul class="taglist--block">
                            <li class="mb10 tagPopup"><a href="/t/javascript/blogs" data-id="1040000000089436"
                                                         class="tag"
                                                         data-original-title="javascript">javascript</a><span
                                    class="text-muted">&nbsp;× 149</span></li>
                            <li class="mb10 tagPopup"><a href="/t/java/blogs" data-id="1040000000089449" class="tag"
                                                         data-original-title="java">java</a><span class="text-muted">&nbsp;× 89</span>
                            </li>
                            <li class="mb10 tagPopup"><a href="/t/css/blogs" data-id="1040000000089434" class="tag"
                                                         data-original-title="css">css</a><span class="text-muted">&nbsp;× 39</span>
                            </li>
                            <li class="mb10 tagPopup"><a href="/t/vue.js/blogs" data-id="1040000004003243" class="tag"
                                                         data-original-title="vue.js">vue.js</a><span
                                    class="text-muted">&nbsp;× 36</span></li>
                            <li class="mb10 tagPopup"><a href="/t/html/blogs" data-id="1040000000089571" class="tag"
                                                         data-original-title="html">html</a><span class="text-muted">&nbsp;× 32</span>
                            </li>
                            <li class="mb10 tagPopup"><a href="/t/node.js/blogs" data-id="1040000000089918" class="tag"
                                                         data-original-title="node.js">node.js</a><span
                                    class="text-muted">&nbsp;× 31</span></li>
                            <li class="mb10 tagPopup"><a href="/t/html5/blogs" data-id="1040000000089409" class="tag"
                                                         data-original-title="html5">html5</a><span class="text-muted">&nbsp;× 27</span>
                            </li>
                            <li class="mb10 tagPopup"><a href="/t/python/blogs" data-id="1040000000089534" class="tag"
                                                         data-original-title="python">python</a><span
                                    class="text-muted">&nbsp;× 19</span></li>
                            <li class="mb10 tagPopup"><a href="/t/git/blogs" data-id="1040000000089459" class="tag"
                                                         data-original-title="git">git</a><span class="text-muted">&nbsp;× 18</span>
                            </li>
                            <li class="mb10 tagPopup"><a href="/t/php/blogs" data-id="1040000000089387" class="tag"
                                                         data-original-title="php">php</a><span class="text-muted">&nbsp;× 18</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div><!-- /.layout-sidebar --></div>
    </div>
</div>



<footer id="footer">
    <div class="container">

        <div class="copyright">
            Copyright © 2011-2017 SegmentFault. 当前呈现版本 17.06.16<br>
            <a href="http://www.miibeian.gov.cn/" rel="nofollow">浙ICP备 15005796号-2</a> &nbsp;
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002000"
               rel="nofollow">浙公网安备 33010602002000号</a>
            <span class="ml5">杭州堆栈科技有限公司版权所有</span>
            <p class="mt30">CDN 存储服务由 <a target="_blank"
                                         href="https://www.upyun.com/?utm_source=segmentfault&amp;utm_medium=link&amp;utm_campaign=upyun&amp;md=segmentfault">又拍云</a>
                赞助提供 </p>
        </div>
        <p class="text-center">
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="mobile" href="javascript:;">移动版</a>
            <a class="js__view--selector hidden-sm hidden-md hidden-lg" data-action="desktop"
               href="javascript:;">桌面版</a>
        </p>
    </div>
</footer>


<style>
    .sfad-list > .sfad-item {
        margin-bottom: 10px;
    }
</style>


</body>
</html>